h1{font-family: 'Lobster', cursive;
color:yellow;}

h2{font-family: 'Righteous', cursive;
}
ul{ font-family:'Courgette', cursive;}
 body{background-color:#34e8eb;
}
h1{color:yellow;}
p{color:#b134eb;
font-size:25px;}
h2{color:pink;}
ul{color:black;}
img{width:260px;
font-size:100px;}
body{background-color:#66CDAA;}
.artist{color:black;}